<div class="calendar">
  <div class="calendar-navs">
    <div class="month-nav">
      <i class="fas fa-caret-left" (click)="prevMonth()"></i>
      <span class="CurrentMonth">{{ currentDate.format('MMMM') }}</span>
      <i class="fas fa-caret-right" (click)="nextMonth()"></i>
    </div>
    <div class="year-nav">
      <i class="fas fa-caret-left" (click)="prevYear()"></i>
      <span class="CurrentYear">{{ currentDate.format('YYYY') }}</span>
      <i class="fas fa-caret-right" (click)="nextYear()"></i>
    </div>
  </div>
  <div class="month-grid">
    <div class="week-days">
      <div class="ring-left"></div>
      <div class="day-names">
        <div *ngFor="let name of dayNames" class="day-name p9">
          {{ name }}
        </div>
      </div>
      <div class="ring-right"></div>
    </div>
    <div class="weeks">
      <div *ngFor="let week of weeks" class="week">
        <ng-container *ngFor="let day of week">
          <div class="week-date disabled" *ngIf="!isSelectedMonth(day.mDate)">
            <span class="date-text">{{ day.mDate.date() }}</span>
          </div>
          <div class="week-date enabled" *ngIf="isSelectedMonth(day.mDate)" (click)="selectDate(day, $event)" [ngClass]="{ today: day.today, selected: day.selected }">
            <span class="date-text">{{ day.mDate.date() }}</span>
            <div *ngFor="let value of eventPoint">
              <span *ngIf="day.mDate.format('DD/MM/YYYY') === value" class="event-signal"></span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="calendar-modal">
  <div *ngIf="event else content">
    <div class="calendar-modal_texts">
      <p class="calendar-modal_description">Description:
        <span>{{event.description}}</span>
      </p>
    </div>
  </div>
  <ng-template #content>
    <p class="else-statement">No events scheduled!</p>
  </ng-template>
</div>
